<!DOCTYPE html>
{% load i18n %}
{% trans '使用' as enter %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Home</title>
		{% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    	<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    	<script src="{% static 'js/docs.min.js' %}"></script>
	</head>
	<body style="padding-top: 50px;">
    {% include 'navbar.html' %}

    <div class="container-fluid" style="padding-top: 50px;">
        {% if False %}
        <div class="card text-white bg-secondary mb-3">
            <div class="card-header" style="background-color:#2C6E49">
                <h2>更新公告</h2>
            </div>
            <div class="card-body" style="background-color:#E3F09B">
                <h5 class="card-title"style="font-weight:bold;color:#C8553D">{% trans '說明： 將於 X/X X:X 時關閉伺服器進行系統更新，系統將會停止所有正在執行中的檔案，請您不要執行過大的檔案，以免被終止，預計於 X:X 時重新啟動伺服器，感謝您的使用' %}</h5>
                <a href="{% url 'update_log' %}" class="btn btn-lg" style="background-color:#4C956C;color:#000000;">{% trans '更新預覽' %}</a>
            </div>
        </div>
        {% endif %}
        <div class="card text-white mb-3" style="background-color:#3399ff">
            <div class="card-header" style="background-color:#0066ff">
                <h2>DPView: Differentially Private Synthetic Dataset Generation</h2>
            </div>
            <div class="card-body">
                <h5 class="card-title"style="font-weight:bold;color:yellow">{% trans '說明： 差分隱私適用於資料筆數較大的資料集，建議至少含有一萬筆紀錄且維度也會受資料筆數影響不能太高。' %}</h5>
                <a href="{% url 'DPView:home' %}" class="btn btn-primary btn-lg">{{ enter }}</a>
            </div>
        </div>
        <div class="card text-white bg-secondary mb-3 " >
            <div class="card-header" style="background-color:#FF4500">
                <h2>k-Anonymity for De-Identifying Dataset</h2>
            </div>
            <div class="card-body" style="background-color:#FFAA33">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <a href="{% url 't_Closeness:home' %}" class="btn btn-lg" style="background-color:#EE7700;color:white;">{{ enter }}</a>
            </div>
        </div>
        {% if False %}
            <div class="card text-white bg-secondary mb-3">
                <div class="card-header" style="background-color:#28a428">
                    <h2>k-Anonymity</h2>
                </div>
                <div class="card-body" style="background-color:#5bd75b">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="{% url 'k_Anonymity:home' %}" class="btn btn-lg" style="background-color:#2db92d;color:white;">{{ enter }}</a>
                </div>
            </div>
            <div class="card text-white bg-secondary mb-3">
                <div class="card-header" style="background-color:#cc0000">
                    <h2>l-Diversity</h2>
                </div>
                <div class="card-body" style="background-color:#ff6666">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="{% url 'l_Diversity:home' %}" class="btn btn-lg" style="background-color:#ff0000;color:white;">{{ enter }}</a>
                </div>
            </div>
        {% endif %}
    </div>
    {% include 'footer.html' %}
    <script>
        $(function () {
            var url = "{% url 'check_file_status' %}"
            $.getJSON(url, function (request) {
                console.log(request)
                if (request == null) {
                    var url = "{% url 'initialize' %}"
                    $.get(url);
                } else if (request.finish == true) {
                    next = true
                    while (next) {
                        if (confirm("{% trans '檔案去識別化完成，是否查看執行結果?' %}")) {
                            next = false
                            window.location = request.url;
                        } else {
                            if (confirm("{% trans '確定執行新的去識別化嗎?先前的執行結果將不會保留' %}")) {
                                next = false
                                $.get("{% url 'initialize' %}");
                            }
                        }
                    }
                } else if (request.finish == false) {
                    next = true
                    while (next) {
                        if (confirm("{% trans '檔案執行中，是否查看執行進度?' %}")) {
                            next = false
                            window.location = request.url;
                        } else {
                            if (confirm("{% trans '確定執行新的去識別化嗎?先前的執行進度將不會保留' %}")) {
                                next = false
                                $.get(request.break_url);
                                $.get("{% url 'initialize' %}");
                            }
                        }
                    }
                } else {
                    alert("{% trans 'home.html finish不符合預期，請通知開發人員，finish = ' %}"+request.finish);
                }
            })
    })
    </script>
	</body>
</html>
