{% extends "not_sidebar_base.vue" %}
{% load i18n %}
{% block title %}maintain{% endblock title %}

{% block content %}
    <cell cell_title="{% trans '伺服器維護中' %}">
        <p>{% trans '說明： 預計於 X/X X:X 時重新啟動伺服器，感謝您的等候' %}</p>
        <a id="update_log_button" href="javascript:void(0)" onclick="toggle_update_log()" class="btn btn-default btn-block">{% trans '更新預覽' %}</a>
    </cell>
    <div id="update_log" style="display:none">
        {% include 'general/update_log_text.html' %}
    </div>
{% endblock content %}

{% block script %}
    <script>
        function toggle_update_log() {
            update_log = $('#update_log');
            update_log.toggle();
            if (update_log.css('display') == 'none') {
                $('#update_log_button').val("{% trans '更新預覽' %}");
            }
            else {
                $('#update_log_button').val("{% trans '關閉預覽' %}");                
            }
        }
    </script>
{% endblock script %}