{% load i18n %}
<div>
    <nav class="navbar navbar-expand-sm fixed-top" style="background-color:#3399ff">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="navbar-brand" href="/home/" style="color:#ffffff">{% trans '主頁' %}</a>
            </li>
            <li class="nav-item">
                <a class="navbar-brand" href="/DPSyn/" style="color:#ffffff">DPView</a>
            </li>
            <li class="nav-item" >
                <a class="navbar-brand" href="/t_Closeness/" style="color:#ffffff">t-Closeness</a>
            </li>
            <li class="nav-item">
                <a class="navbar-brand" href="/k_Anonymity/" style="color:#ffffff">k-Anonymity</a>
            </li>
            <li class="nav-item">
                <a class="navbar-brand" href="/l_Diversity/" style="color:#ffffff">l-Diversity</a>
            </li>
            <li class="nav-item">
                <a class="navbar-brand" href="{% url 'logout' %}" style="color:#ffffff">{% trans '登出' %}</a>
            </li>
            <li class="nav-item">
                <a class="navbar-brand" href="javascript:void(0)" id="delete_account" style="color:#ffffff">{% trans '刪除帳號' %}</a>
            </li>
            <li class="nav-item">
                <form id="i18n" action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ request.get_full_path|remove_language_code }}" />
                    <select name="language" class="form-control language-switch">
                        {% for code, name in LANGUAGES %}
                            <option value="{{ code }}" {% if code == LANGUAGE_CODE %}selected{% endif %}>{{ name }}</option>
                        {% endfor %}
                    </select>
                </form>
            </li>
        </ul>
    </nav>
</div>

<script>
    $(function () {
        $('#i18n').change(function () {
            $(this).submit();
        });
        $('#delete_account').on('click', function () {
            answer = prompt("{% trans '帳號即將刪除，刪除後資料無法回復，如確定要刪除請輸入YES' %}", '');
            if (answer == 'YES') {
                window.location = "{% url 'delete_account' %}";
            }  else {
                alert("{% trans '刪除動作已取消' %}")
            }
        })
    })
</script>