{% extends "general/function.html" %}
{% block title %}l-Diversity{% endblock title %}
{% block output_path %}l_Diversity{% endblock output_path %}
{% block home_path %}l_Diversity{% endblock home_path %}
{% block content %}
    <h2>l-Diversity</h2>
    <h5 style="font-weight:bold;color:red">說明1：將滑鼠移至欄位上可查看欄位說明</h5>
    <h5 style="font-weight:bold;color:red">說明2：去識別化後的檔案可用性高，但執行速度較慢，可先執行 t-Closeness 測試是否符合需求</h5>
    <p>
        Description : 
    </p>
{% endblock content %}
{% block form %}
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="k" data-toggle="tooltip" title="去識別化後，在任意查詢條件下，至少會同時查到K筆資料">K：</label>
            <input type="text" class="form-control" id="k" placeholder="" required="required" pattern="^[0-9]+$" value="2" data-toggle="tooltip" title="去識別化後，在任意查詢條件下，至少會同時查到K筆資料">
        </div>
        <div class="form-group col-md-4">
            <label for="l"  data-toggle="tooltip" title="去識別化後，K筆資料中將至少有L筆資料將完全相同(包含沒去識別化的最後一欄)">L：</label>
            <input type="text" class="form-control" id="l" placeholder="" value="2"  data-toggle="tooltip" title="去識別化後，K筆資料中將至少有L筆資料將完全相同(包含沒去識別化的最後一欄)">
        </div>
    </div>
{% endblock form %}
{% block execute %}
    <script>
        $(function () {
            $('#execute').on('click', function () {
                reset()
                window.scrollTo(0, document.body.scrollHeight)
                var mm = window.setInterval("Check_Time()", 1000);
                $('#execute').attr('disabled', 'disabled');
                console.log("come in l_Diversity.")
                var k_value = document.getElementById("k").value;
                var l_value = document.getElementById("l").value;
                var log = "";
                var sitv = setInterval( function () {
                    var prog_url = '/l_Diversity/show_l_progress/'
                    $.getJSON(prog_url, function (data) {
                        {# console.log("come in num_progress="+num_progress)#}
                        $('.progress-div').css('visibility', 'visible');
                        $('.progress-bar').css('width', data.num_progress + '%');
                        $('.progress-bar').text(data.num_progress + '%');
                        $('.progress-text').text( '目前進度：'+ data.log );
                        $('.progress-text').css('width', '100%');
                        $('#prog_in').width(data.num_progress + '%');
                    });
                }, 10000);
                var thisurl = '/l_Diversity/Execute_l_diversity/'
                $.getJSON(thisurl,
                    {
                        csv_name : '{{file_name}}',
                        k : k_value,
                        l : l_value,
                    }, function (num_progress) {
                    clearInterval(sitv);
                    clearInterval(mm);
                    $('.progress-bar').css('width', '100%');
                    $('.progress-bar').text('100%');
                    $('#bar').removeClass('active');
                    $('.progress-text').text('執行完成');
                    $('#execute').removeAttr('disabled');
                    alert("檔案執行完畢");
                    window.location = '/l_Diversity/finish/csv_name={{file_name}}';
                });
            })
        })
    </script>
{% endblock execute %}