{% extends "general/function_home.html" %}
{% load i18n %}
{% block title %}l-Diversity{% endblock title %}

{% block hint %}
    <cell cell_title="{% trans '注意事項' %}">
        <p>{% trans '1：文件格式( 資料筆數不可超過200筆，資料欄位不可超過4欄 )' %}</p>
        <p>{% trans '2：文件大小( 檔案不可大於 1 MB )' %}</p>
        <p>{% trans '3：文件內容( 請先刪除如姓名、ID等極具識別能力的欄位 )' %}</p>
        <p>{% trans '4：文件內容( 請將要公布的主要內容放在最後一欄，以免對其進行去識別化，例如薪資表中的薪水欄位 )' %}</p>
        <p>{% trans '5：檔案請另存新檔為CSV檔(.csv)' %}</p>
    </cell>
{% endblock hint %}

{% block script %}
    {{ block.super }}
    <script>
        $(function () {
            sidebar_highlight('l_diversity');
        })
    </script>
{% endblock script %}