{% extends "general/function_home.html" %}
{% load i18n %}
{% block title %}l-Diversity{% endblock title %}
{% block content %}
    <h2>l-Diversity</h2>
    <h5 style="font-weight:bold;color:red">{% trans '注意事項1：文件格式( 資料筆數不可超過200筆，資料欄位不可超過4欄 )' %}</h5>
    <h5 style="font-weight:bold;color:red">{% trans '注意事項2：文件大小( 檔案不可大於 1 MB )' %}</h5>
    <h5 style="font-weight:bold;color:red">{% trans '注意事項3：文件內容( 請先刪除如姓名、ID等極具識別能力的欄位 )' %}</h5>
    <h5 style="font-weight:bold;color:red">{% trans '注意事項4：文件內容( 請將要公布的主要內容放在最後一欄，以免對其進行去識別化，例如薪資表中的薪水欄位 )' %}</h5>
    <h5 style="font-weight:bold;color:red">{% trans '注意事項5：檔案請另存新檔為CSV檔(.csv)' %}</h5>
{% endblock content %}