{% load i18n %}
<div class="container">
    <h2>Pair</h2>
    <h5 style="font-weight:bold;color:red">{% trans '說明1：配對檔案裡文字的上下關係，例如：gmail 屬於 google，可自行輸入或使用下拉式選單' %}</h5>
        {% if advanced_settings %}
            <h5 style="font-weight:bold;color:red">{% trans '說明2：請設定數字欄位去識別化時，所使用的分區間隔' %}</h5>
        {% endif %}
</div>
<div class="container" style="width:inherit;">
    <h2>{% trans '檔名：' %}{{ file_name }}</h2>
    <form id="parameter_form" data-toggle="validator">
        {% csrf_token %}
        {% if not string_element_dict.items and not number_title_list %}
            <h2>{% trans '無需預先設定的參數' %}</h2>
        {% endif %}
        {% for column_title, element_list in string_element_dict.items %}
            <h2>{% trans '欄位：' %}{{ column_title }}</h2>
            <div class="form-row justify-content-center">
                <div class="form-check col-md-4">
                    <input type="checkbox" class="form-check-input" id="{{ column_title }}_is_address" onclick="click_checkbox('{{ column_title }}', 'address')">
                    <label class="form-check-label" for="{{ column_title }}_is_address">{% trans '資料為地址' %}</label>
                </div>
                <div class="form-check col-md-4">
                    <input type="checkbox" class="form-check-input" id="{{ column_title }}_is_unrelated" onclick="click_checkbox('{{ column_title }}', 'unrelated')">
                    <label class="form-check-label" for="{{ column_title }}_is_unrelated">{% trans '資料間無關聯' %}</label>
                </div>
            </div>
            <table class="table table-striped" id="{{ column_title }}_table">
                <tbody id="{{ column_title }}_tbody">
                    {% for element in element_list %}
                        <tr>
                            <td>
                                <input type="text" class="form-control" id="{{ column_title }}_element_{{ forloop.counter0 }}" value="{{ element }}" disabled="disabled" required="required"> 
                            </td>
                            <td>
                                {% trans '對應' %}
                            </td>
                            <td id="{{ column_title }}_datalist_td_{{ forloop.counter0 }}">
                                <input list="{{ column_title }}_select_pair_{{ forloop.counter0 }}" id="{{ column_title }}_pair_label_{{ forloop.counter0 }}" required="required" class="col-sm-6 custom-select custom-select-sm">
                                <datalist id="{{ column_title }}_select_pair_{{ forloop.counter0 }}">
                                    {% for element in element_list %}
                                        <option value="{{ element }}">{{ element }}</option>
                                    {%endfor%}
                                </datalist>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="form-row">
                <div class="btn-group col-md-2">
                    <button id="{{ column_title }}_custom_add" type="button" class="btn btn-primary" onclick="add_field('{{ column_title }}', {{ element_list }})">{% trans '新增欄位' %}</button>
                </div>
                <div class="btn-group col-md-2">
                    <button id="{{ column_title }}_custom_delete" type="button" class="btn btn-primary" onclick="delete_field('{{ column_title }}', {{ element_list }})" style="display:none">{% trans '刪除欄位' %}</button>
                </div>
            </div>
        {% endfor %}
    </form>
</div>

<script>
    var custom_count = 0
    
    function add_field(column_title, element_list) {
        var table = document.getElementById(column_title+'_table');
        var checkbox_address = document.getElementById(column_title+'_is_address');
        var checkbox_unrelated = document.getElementById(column_title+'_is_unrelated');
        var count_id = table.tBodies[0].rows.length;
        var tr = table.insertRow(-1);
        var td = tr.insertCell(-1);
        
        custom_count = custom_count+1
        if(custom_count > 0) {
            $('#'+column_title+'_custom_delete').show()
        }
        
        td.innerHTML = 
            '<input type="text" class="form-control" id="'+column_title+'_element_'+count_id+'" required="required">';
        var td = tr.insertCell(-1);
        td.innerHTML = 
            "對應";
        var td = tr.insertCell(-1);
        td.id = column_title+'_datalist_td_'+count_id;
        td.innerHTML = '<input list="'+column_title+'_select_pair_'+count_id+'" id="'+column_title+'_pair_label_'+count_id+'" required="required" class="col-sm-6 custom-select custom-select-sm">'
        if (checkbox_address.checked || checkbox_unrelated.checked) {
            var label = document.getElementById(column_title+'_pair_label_'+count_id)
            label.disabled = true
            label.required = false
        }
        
        td.innerHTML += 
            '\
            <datalist id="'+column_title+'_select_pair_'+count_id+'">\
            </datalist>\
            ';
        var datalist = document.getElementById(column_title+'_select_pair_'+count_id)
        for (var element of element_list) {
            datalist.innerHTML += '<option value="'+ element +'">'+ element +'</option>'
        }
        
        var element = document.getElementById(column_title+'_element_'+count_id);
        element.addEventListener('change', add_element_list.bind(this, column_title, count_id), false)
    }
    
    function add_element_list(column_title, id) {
        var check_exist = document.getElementById('option_'+column_title+'_'+id);
        console.log(check_exist)
        if(check_exist) {
            delete_element_list(column_title, id)
        }
        var table = document.getElementById(column_title+'_table');
        var element = document.getElementById(column_title+'_element_'+id);
        for (var count = 0; count<table.tBodies[0].rows.length; count++) {
            var datalist = document.
                getElementById(column_title+'_select_pair_'+count);
            datalist.innerHTML += '<option id="option_'+column_title+'_'+id+'" value="'+element.value+'">'+element.value+'</option>'
        }
    }
    
    function delete_field(column_title, element_list) {
        var table = document.getElementById(column_title+'_table');
        var last_id = table.tBodies[0].rows.length - 1
        delete_element_list(column_title, last_id)
        table.deleteRow(last_id)
        custom_count = custom_count - 1
        if(custom_count <= 0) {
            $('#'+column_title+'_custom_delete').hide()
        }
    }
    
    function delete_element_list(column_title, id) {
        var table = document.getElementById(column_title+'_table');
        for (var count = 0; count<table.tBodies[0].rows.length; count++) {
            var datalist = document.
                getElementById(column_title+'_select_pair_'+count);
            datalist.removeChild(document.
                getElementById('option_'+column_title+'_'+id))
        }
    }
    
    function click_checkbox(column_title, box_name) {
        var checkbox_address = document.getElementById
                (column_title+'_is_address');
        var checkbox_unrelated = document.getElementById
                (column_title+'_is_unrelated');
        var table = document.getElementById
                (column_title+'_table');

        if (box_name == 'address'){
            checkbox_unrelated.disabled = !checkbox_unrelated.disabled
        } else if (box_name == 'unrelated') {
            checkbox_address.disabled = !checkbox_address.disabled
        } else {
            console.log("box_name exception" + box_name)
        }
        for (var count = 0; count<table.tBodies[0].rows.length; count++) {
            var pair_to_element = document.
                getElementById(column_title+'_pair_label_'+count);
            pair_to_element.disabled = !pair_to_element.disabled
            pair_to_element.required = !pair_to_element.required
        }
    }
    
    function removeRed (classList) {
        classList.remove('table-danger')
    }
</script>
