{% load i18n %}
<div class="container" style="width:inherit;">
    <form>
        {% if not almost_number_dict %}
            <p>{% trans '無需預先設定的參數' %}</p>
        {% else %}
            <div class="form-row justify-content-center" style="border-bottom-style:dashed; border-width:1px; padding-bottom:10px;">
                <div class="form-check col-md-6" style="padding-top:10px">
                    <p id="all_almost_number_title">{% trans '將全部欄位皆設定為' %}</p>
                </div>
                <div class="form-check col-md-6">
                    <select class="form-control" id="all_almost_number_select_pair">
                        <option selected></option>
                        <option value="have_not_empty" data-toggle="tooltip" title="{% trans '欄位中的字串有實際意義' %}">{% trans '資料中無空值' %}</option>
                    </select>
                </div>
            </div>
            <br>
        {% endif %}
        {% for column_title in almost_number_dict %}
            <div class="form-row justify-content-center">
                <div class="form-check col-md-6" style="padding-top:10px">
                    <p id="{{ column_title }}_title">{{ column_title }}</p>
                </div>
                <div class="form-check col-md-6">
                    <select class="form-control" id="{{ column_title }}_relationship_select_pair" onclick="relationship_set('{{ column_title }}')">
                        <option selected></option>
                        <option value="have_not_empty" data-toggle="tooltip" title="{% trans '欄位中的字串有實際意義' %}">{% trans '資料中無空值' %}</option>
                        <option value="have_empty" data-toggle="tooltip" title="{% trans '欄位以字串表示空值' %}">{% trans '資料中含有空值' %}</option>
                    </select>
                </div>
            </div>
            <br>
        {% endfor %}
    </form>
</div>

<script type="application/javascript">
    $(function () {
        {% if title_id_pair %}
            var almost_number_dict = {{ almost_number_dict|safe }};
            var title_id_pair = {{ title_id_pair|safe }};
            for (var column_title in almost_number_dict) {
                document.getElementById(column_title+'_relationship_select_pair').selectedIndex = title_id_pair[column_title];
                relationship_set(column_title);
            }
            initize();
            document.getElementById('preview_file').style.display = 'block'; 
        {% endif %}
    })    
</script>