{% extends "base.vue" %}
{% load i18n %}
{% block title %}confirm{% endblock title %}

{% block content %}
    <div id="question">
        <cell cell_title="{{ cell_title }}">
            <p>{{ cell_content }}</p>
            <br>
            <div class="form-row col-lg-12">
                <div class="form-group col-md-3" style="padding:0px;padding-left:15px;padding-right:15px;">
                    <button onclick="go_to_url()" type="button" class="btn btn-primary" style="width:100%">{% trans '是' %}</button>
                </div>
                <div class="form-group col-md-3" style="padding:0px;padding-left:15px;padding-right:15px;">
                    <button onclick="dobule_check()" type="button" class="btn btn-primary" style="width:100%">{% trans '否' %}</button>
                </div>
            </div>
        </cell>
    </div>
    <div id="check" style="display:none">
        <cell cell_title="{% trans '再次確認' %}">
            <p>{% trans '確定執行新的去識別化嗎?先前的執行結果將不會保留' %}</p>
            <br>
            <div class="form-row col-lg-12">
                <div class="form-group col-md-3" style="padding:0px;padding-left:15px;padding-right:15px;">
                    <button onclick="new_start()" type="button" class="btn btn-primary" style="width:100%">{% trans '是' %}</button>
                </div>
                <div class="form-group col-md-3" style="padding:0px;padding-left:15px;padding-right:15px;">
                    <button onclick="dobule_check()" type="button" class="btn btn-primary" style="width:100%">{% trans '否' %}</button>
                </div>
            </div>
        </cell>
    </div>
{% endblock content %}

{% block script %}
    <script>
        function go_to_url() {
            window.location = "{{ yes_url }}";
        }
        function dobule_check() {
            $('#question').toggle();
            $('#check').toggle();
        }
        function new_start() {
            $.get("{% url 'initialize' %}");
            {% if break_url %}
                $.get('{{ break_url }}');
            {% endif %}
            window.location = "{% url 'home' %}";
        }
    </script>
{% endblock script %}