{% load i18n %}
<div class="modal-title">
    <h2>{{ title }}{% trans '(前200筆)' %}</h2>
</div>
<div class="modal-body">
    <div id={{ id }} aligh="center" style = "height:500px; overflow:scroll; border:2px black solid; " >
    </div>
</div>

<script>
 $(function () {
    var display_table = $('#{{ id }}');
    var url = '{{ display_url }}'
    $.getJSON(url, {
            'File' : '{{ file_name }}',
        }, function (table) {
            display_table.html(table)
        }
    )
 })
</script>