{% load i18n %}
<div class="header_word">
    <font>{{ title }}{% trans '(前200筆)' %}</font>
</div> 
<div class="modal-body" style="padding:15px 10px 0px 0px;">
    <div id={{ id }} class="content_word scroll-bar" style="height:180px; overflow:scroll; border:1px black solid;">
        
    </div>
</div>

<script type="application/javascript">
    $(function () {
        var display_table = $('#{{ id }}');
        var url = '{{ display_url }}';
        $.getJSON(url, {
                'File' : '{{ file_name }}',
                'caller' : '{{ caller }}',
            }, function (table) {
                display_table.html(table);
            }
        )
    })
</script>