{% extends "general/file_list.html" %}
{% block title %}已完成檔案列表{% endblock title %}
{% block no_file %}尚無完成檔案{% endblock no_file %}
{% block button %}
    <button id="download" type="button" class="btn btn-primary">下載</button>
    <button id="preview" type="button" class="btn btn-primary">預覽</button>
    <input type="button" class="btn btn-primary" onclick="history.back()" value="返回上一頁"></input>
    <a href="/{{caller}}/" type="button" class="btn btn-primary">返回主頁</a>
{% endblock button %}
{% block script %}
    <script>
        $(function () {
            var download = $('#download');
            download.click(function () {
                var csv_name = $('[name=File]:checked').val();
                if (!csv_name) {
                    alert('請先選擇檔案');
                }
                else {
                    window.location ='/{{caller}}/Download_Output/?File='+csv_name
                }
            })
        })
    </script>
{% endblock script %}