<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}檔案列表{% endblock title %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/bootstrap.min.js"></script>
        <style type="text/css">
            #view th {
                text-align:center;
            }
        </style>
	</head>
	<body>
        {% include 'navbar.html' %}
		<div class="container">
            <h1 class="page-header">FileList_Output:</h1>
            {% if not s %}
                <div class="form-group">
                    <h2>{% block no_file %}尚無檔案{% endblock no_file %}</h2>
                </div>                    
            {% endif %}
			<form enctype="multipart/form-data">
                {% csrf_token %}                
                {% for key in s %}
                <div class="form-check">
  					<input class="form-check-input" id="radio_{{key}}" type="radio" name="File" value="{{ key }}" checked>
  					<label class="form-check-label" for="radio_{{key}}"> {{ key }} </label>
				</div>
	    		{%endfor%}
                {% block button %}
                    <button id="preview" type="button" class="btn btn-primary">預覽</button>
                    <button id="delete_file" type="button" class="btn btn-primary">刪除</button>
                    <a href="/{{caller}}/" type="button" class="btn btn-primary">返回主頁</a>
                {% endblock button %}
            </form>
        </div>
        <p>
            <div id="preview_table" align="center" style = "height:550px; overflow:scroll; border:2px black solid; position:absolute; width:90%;  left:5%;" >
    	</div>
        
        <script>
            $(function () {
                var preview = $('#preview');
                var csv_name = $('[name=File]:checked').val();
                preview.click(function () {
                    if (!csv_name) {
                        alert('請先選擇檔案');
                    }
                    else {
                        var preview_table = $('#preview_table');
                        var url = '/{{caller}}/CSV_View_{% block csv_view_method %}method{% endblock csv_view_method %}/';
                        $.getJSON(url,
                            {
                                'File' : csv_name,
                            }, function (table) {
                                preview_table.html(table)
                            }
                        )
                    }
                })
            })
            $(function () {
                var delete_button = $('#delete_file');
                var csv_name = $('[name=File]:checked').val();
                delete_button.click(function () {
                    if (!csv_name) {
                        alert('請先選擇檔案');
                    }
                    else {
                        if (confirm('「' + csv_name + '」即將刪除，是否繼續執行？'))
                        var url = '/{{caller}}/delete_file_{% block delete_file_method %}method{% endblock delete_file_method %}/';
                        $.getJSON(url,
                            {
                                'File' : csv_name,
                            }, function (finish) {
                                if (finish) {
                                    alert('「' + csv_name + '」已成功刪除');
                                    location.reload()
                                } else {
                                    alert('「' + csv_name + '」刪除失敗，請稍後再試');
                                }
                            }
                        )
                    }
                })
            })
        </script>
        {% block script %}
        {% endblock script %}
	</body>
</html>
