<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
        <title>{% block title %}title{% endblock title %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    	<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body style="padding-top:50px;">
        {% include 'navbar.html' %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                {% block content %}
                    <h2>function name</h2>
                    <h5 style="font-weight:bold;color:red">注意事項1：</h5>
                    <p>
                        Description : 
                    </p>
                {% endblock content %}
            </div>
        </div>
	   	<div class="container">
            <form id="form_file" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="custom-file center" style="height:80px">
                    <input type="file" class="custom-file-input" name="file" id="customFile_csv" accept=".csv" >
                    <label class="custom-file-label" for="customFile_csv">請選擇將要去識別化的CSV檔案 (.csv)</label>
                </div>
            </form>
        </div>
        <script>
            function isValidFile(file) {
                var type = "." + file.value.split(".")[1];
                if (type == file.accept) {
                    return true;
                }
                return false;
            }
        
            $("#customFile_csv").on("change", function() {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                
                var csv_name = $("#customFile_csv").val();
                csv_name = csv_name.split("\\").pop()
                
                if (!csv_name) {
                    alert('請先選擇檔案');
                    return;
                }
                if (!isValidFile(document.getElementById('customFile_csv'))) {
                    alert("檔案類型錯誤");
                    return;
                }
                let formData = new FormData($('#form_file').get(0));
                $.ajax({
                    url: '/{% block upload_url %}json_parser{% endblock upload_url %}/File_Upload/',
                    type: 'POST',
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (finlish) {
                            if(finlish == true){
                                window.location = '/{% block custom_url %}json_parser{% endblock custom_url %}/custom/csv_name='+csv_name+'/';
                            } else{
                                alert('檔案上傳失敗，請稍後再試');
                                window.location = "{% url 'home' %}";
                            }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        var jsonObj = JSON.parse(xhr.responseText);
                        alert(jsonObj.status +"：\n" + jsonObj.message );
                    }
                });
            });
        </script>
	</body>
</html>