<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}title{% endblock title %}</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    	<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
	</head>
	<body  style="padding-top:50px;">
        {% include 'navbar.html' %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                {% block content %}
                    <h2>function name</h2>
                    <h5 style="font-weight:bold;color:red">說明：</h5>
                    <p>
                        Description : 
                    </p>
                {% endblock content %}
            </div>
        </div>
    	<div class="container" style="width:inherit;">
            <form id="parameter_form" data-toggle="validator">
                {% csrf_token %}
                <div class="form-row" style="height:110px">
                    <div class="form-group col-md-4">
                        <label for="csv_name_select" data-toggle="tooltip" title="將要進行去識別化的檔案">選擇檔案：</label>
                        <select class="form-control" id="csv_name_select" data-toggle="tooltip" title="將要進行去識別化的檔案">
                            {% for key in s %}
                                <option value="{{ key }}">{{ key }}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
                {% block form %}
                {% endblock form %}
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <button id="execute" type="button" class="btn btn-primary" style="width:100%">執行</button>
                    </div>
                    <div class="form-group col-md-2">
                        <div onclick="location.href='/{% block output_path %}title{% endblock output_path %}/File_List_Output/'" type="button" class="btn btn-primary" style="width:100%">已完成檔案列表</div>
                    </div>
                    <div class="form-group col-md-2">
                        <div onclick="location.href='/{% block home_path %}title{% endblock home_path %}/'" type="button" class="btn btn-primary" style="width:100%">返回主頁</div>
                    </div>
                </div>
            </form>
    	</div>
        <div class="progress-div" style="position:absolute; width:90%;  left:5%;">
            <label> 進度條 </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span id="Check_Txt" style="color:red">執行時間：<span id="Check_i">0小時0分0秒</span>
            <div id="bar" class="progress progress-striped active">
                <div class="progress-bar progress-bar-warning" aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" style="width:0%">
                </div>
            </div>
            <div class="progress-text progress-bar-striped active"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; ">
            </div>
        </div>
        
    	<script>
            var SetMinute = 0;
            function Check_Time() {
                SetMinute += 1;
                var Check_i = document.getElementById("Check_i");
                var Cal_Hour = Math.floor(SetMinute / 3600);
                var Cal_Minute = Math.floor(Math.floor(SetMinute % 3600) / 60);
                var Cal_Second = SetMinute % 60;
                Check_i.innerHTML = Cal_Hour + "小時" + Cal_Minute + "分" + Cal_Second + "秒";
            }
            
            function reset() {
                SetMinute = 0;
                $('.progress-bar').css('width', 0 + '%');
                $('.progress-bar').text(0 + '%');
                $('.progress-text').text( '目前進度：');
                $('.progress-text').css('width', '100%');
                $('#prog_in').width(0 + '%');
            }
            
            function check_required_is_empty() {
                var csv_name_value = document.getElementById("csv_name_select").value;
                if (!csv_name_value) {
                    return true
                }
                return false
            }
            
		</script>
            
        {% block execute %} 
            <script>
                $(function () {
                    $('#execute').on('click', function () {
                        if (check_required_is_empty()) {
                            alert('請選擇檔案，若無檔案請先上傳檔案')
                            return
                        }
                        reset()
                        var mm = window.setInterval("Check_Time()", 1000);
                        $('#execute').attr('disabled', 'disabled');
                        console.log("come in ")
                        clearInterval(mm);
                        $('#execute').removeAttr('disabled');
                    })
                })
            </script>
        {% endblock execute %}
	</body>
</html>