{% extends "base.vue" %}
{% load i18n %}
{% block title %}input password{% endblock title %}

{% block content %}
    <cell cell_title="{% trans '請輸入密碼' %}">
        <p>{{ cell_content }}</p>        
        <form>
            <input id="password" type="password">
        </form>
        <br>
        <div class="form-row col-lg-12">
            <div class="form-group col-md-3" style="padding:0px;padding-left:15px;padding-right:15px;">
                <button onclick="send_password()" type="button" class="btn btn-primary" style="width:100%">{% trans '送出' %}</button>
            </div>
            <div class="form-group col-md-3" style="padding:0px;padding-left:15px;padding-right:15px;">
                <button onclick="history.back()" type="button" class="btn btn-primary" style="width:100%">{% trans '取消更改' %}</button>
            </div>
        </div>
    </cell>
{% endblock content %}

{% block script %}
    <script>
        function send_password() {
            var answer = $('#password').val();
            var url = "{% url 'password_check' %}";
            var data = {
                'csrfmiddlewaretoken' : '{{ csrf_token }}',
                'password' : answer,
            };
            $.ajax({
                url: url,
                type: 'POST',
                data: data,
                success: function () {
                    window.location = '{{ check_success_action_url }}';
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    var jsonObj = JSON.parse(xhr.responseText);
                    danger_alert(jsonObj.message);
                }
            });
        }
    </script>
{% endblock script %}