{% load i18n %}
<div class="container" style="width:inherit;">
    <form data-toggle="validator">
        {% csrf_token %}
        {% if not number_title_list %}
            <h2>{% trans '無需預先設定的參數' %}</h2>
        {% endif %}
        {% for column_title in number_title_list %}
            <div class="form-row justify-content-center">
                <div class="form-check col-md-7">
                    <h2 id="{{ column_title }}_title">{{ column_title }}</h2>
                </div>
                <div class="form-check col-md-5">
                    <select class="form-control" id="{{ column_title }}_relationship_select_pair" onclick="relationship_set('{{ column_title }}')">
                        <option selected></option>
                        <option id="{{ column_title }}_is_number" value="number">{% trans '資料為數值型資料' %}</option>
                        <option id="{{ column_title }}_is_single" value="single">{% trans '資料只有唯一值' %}</option>
                        <option id="{{ column_title }}_is_category" value="category">{% trans '資料為類別型資料' %}</option>
                    </select>
                </div>
            </div>
            <br>
        {% endfor %}
    </form>
</div>