{% load i18n %}
<div class="container" style="width:inherit;">
    <h2>{% trans '檔名：' %}{{file_name}}</h2>
    <form data-toggle="validator">
        {% csrf_token %}
        {% if not number_title_list %}
            <h2>{% trans '無需預先設定的參數' %}</h2>
        {% endif %}
        {% for number_title in number_title_list %}
            <h5>{% trans '欄位：' %}{{ number_title }}</h5>
            <div class="form-row justify-content-center">
                <div class="form-check col-md-4">
                    <input type="checkbox" class="form-check-input" id="{{ number_title }}_is_number" onclick="click_number_checkbox('{{ number_title }}', 'number')">
                    <label class="form-check-label" for="{{ number_title }}_is_number">{% trans '資料為數值型資料' %}</label>
                </div>
                <div class="form-check col-md-4">
                    <input type="checkbox" class="form-check-input" id="{{ number_title }}_is_single" onclick="click_number_checkbox('{{ number_title }}', 'single')">
                    <label class="form-check-label" for="{{ number_title }}_is_single">{% trans '資料只有唯一值' %}</label>
                </div>
                <div class="form-check col-md-4">
                    <input type="checkbox" class="form-check-input" id="{{ number_title }}_is_category" onclick="click_number_checkbox('{{ number_title }}', 'category')">
                    <label class="form-check-label" for="{{ number_title }}_is_category">{% trans '資料為類別型資料' %}</label>
                </div>
            </div>
            {% if advanced_settings %}
                <div id="{{ number_title }}_display" class="form-row" style="display:none">
                    <label for="{{ number_title }}_n">{% trans '間隔數量：' %}</label><br>
                    <div class="form-check col-md-3">
                        <input type="number" name="n" value="1" min="1" class="form-control" required id="{{ number_title }}_n">
                    </div>
                    <div class="form-check col-md-6">
                        <button id="{{ number_title }}_interval_determine" type="button" class="btn btn-primary" onclick="set_interval('{{ number_title }}')">{% trans '確定' %}</button>
                    </div>
                </div>
                <br>
                <label id="{{ number_title }}_interval_text" style="display:none">{% trans '間隔區間(每個區間皆包含最小值不包含最大值)：' %}</label><br>
                <div id="{{ number_title }}_interval" class="form-row justify-content-center">
                </div>
            {% endif %}
        {% endfor %}
    </form>
</div>

<script>
    function toggle(html_dom) {
        if (html_dom) {
            if (html_dom.style.display == 'none') {
                html_dom.style.display = 'block';
            } else {
                html_dom.style.display = 'none';
            }
        }
    }
    function click_number_checkbox(number_title, box_name) {
        var checkbox_number = document.getElementById
                (number_title+'_is_number');
        var checkbox_single = document.getElementById
                (number_title+'_is_single');
        var checkbox_category = document.getElementById
                (number_title+'_is_category');
        
        {% if advanced_settings %}
            document.getElementById(number_title+'_interval_text').style.display = 'none'
            document.getElementById(number_title+'_interval').style.display = 'none'
        {% endif %}
        
        checkbox_number.disabled = !checkbox_number.disabled
        checkbox_single.disabled = !checkbox_single.disabled
        checkbox_category.disabled = !checkbox_category.disabled
        
        if (box_name == 'number'){
            interval_display = document.getElementById(number_title+'_display');
            toggle(interval_display);
            checkbox_number.disabled = !checkbox_number.disabled
        } else if (box_name == 'single') {
            checkbox_single.disabled = !checkbox_single.disabled
        } else if (box_name == 'category') {
            checkbox_category.disabled = !checkbox_category.disabled
        } else {
            console.log("box_name exception:" + box_name)
        }
    }
    
    function get_check_result(number_title) {
        var checkbox_number = document.getElementById
                (number_title+'_is_number');
        var checkbox_single = document.getElementById
                (number_title+'_is_single');
        var checkbox_category = document.getElementById
                (number_title+'_is_category');
        if (checkbox_number.checked) {
            return 'number'
        } else if (checkbox_single.checked) {
            return 'single'
        } else if (checkbox_category.checked) {
            return 'category'
        } else {
            return null
        }
    }
    
    {% if advanced_settings %}
        function set_interval(number_title) {
            var checked_result = get_check_result(number_title);
            
            if(!checked_result) {
                alert("{% trans '尚未選擇數值類型' %}");
                return
            }
            
            document.getElementById(number_title+'_interval_text').style.display = 'block'
            document.getElementById(number_title+'_interval').style.display = 'block'
            var interval_quantity = parseInt(document.getElementById(number_title+'_n').value);
            var interval_area = document.getElementById(number_title+'_interval');
            var base = {{ min_value_dict | safe }};
            var max = {{ max_value_dict | safe }};
            
            base = base[number_title]
            bias = (max[number_title] - base)/interval_quantity;
            
            var i;
            var temp;
            interval_area.innerHTML = "";
            for (i=0; i<interval_quantity+1; i++) {
                temp = '<input type="number" value="'+(base+(bias*i))+'" class="col-md-2" required id="'+number_title+'_interval_'+i+'">'
                if (i!=interval_quantity) {
                    temp = temp + '--';
                }
                if ((i+1)%5==0)  {
                    temp = temp + '<br>';
                }
                interval_area.innerHTML = interval_area.innerHTML + temp;
            }
            for (i=0; i<interval_quantity+1; i++) {
                var interval_temp = document.
                    getElementById(number_title+'_interval_'+i);
                interval_temp.addEventListener('change', interval_check.bind(this, interval_temp, number_title, i, interval_quantity+1), false);
            }
        }
        
        function interval_check(interval_temp, number_title, i, interval_quantity) {
            var value = interval_temp.value;
            var previous_value;
            var next_value;
            if (i == 0) {
                var min_value = {{ min_value_dict | safe }};
                min_value = min_value[number_title];
                next_value = document.getElementById(number_title+'_interval_'+(i+1)).value;
                if (next_value > min_value) {
                    next_value = min_value;
                }
            } else if (i == interval_quantity) {
                var max_value = {{ max_value_dict | safe }};
                max_value = max_value[number_title];
                previous_value = document.getElementById(number_title+'_interval_'+(i-1)).value;
                if (previous_value < max_value) {
                    previous_value = max_value;
                }
            } else {
                next_value = document.getElementById(number_title+'_interval_'+(i+1)).value;
                previous_value = document.getElementById(number_title+'_interval_'+(i-1)).value;
            }
            
            if (next_value && value > next_value) {
                interval_temp.value = next_value;
                alert("{% trans '已達最大值' %}")
            }
            if (previous_value && value < previous_value) {
                interval_temp.value = previous_value;
                alert("{% trans '已達最小值' %}")
            }
        }
    {% endif %}
</script>