{% load i18n %}
<div class="container" style="width:inherit;">
    <h2>{% trans '檔名：' %}{{file_name}}</h2>
    <form data-toggle="validator">
        {% csrf_token %}
        {% if not number_title_list %}
            <h2>{% trans '無需預先設定的參數' %}</h2>
        {% endif %}
        {% for number_title in number_title_list %}
            <h5>{% trans '欄位：' %}{{ number_title }}</h5>
            <div class="form-row justify-content-center">
                <div class="form-check col-md-4">
                    <input type="checkbox" class="form-check-input" id="{{ number_title }}_is_discrete" onclick="click_number_checkbox('{{ number_title }}', 'discrete')">
                    <label class="form-check-label" for="{{ number_title }}_is_discrete">{% trans '資料為離散型資料' %}</label>
                </div>
                <div class="form-check col-md-4">
                    <input type="checkbox" class="form-check-input" id="{{ number_title }}_is_continuous" onclick="click_number_checkbox('{{ number_title }}', 'continuous')">
                    <label class="form-check-label" for="{{ number_title }}_is_continuous">{% trans '資料為連續型資料' %}</label>
                </div>
            </div>
            {% if advanced_settings %}
                <div id="{{ number_title }}_display" class="form-row">
                    <label for="{{ number_title }}_n">{% trans '間隔數量：' %}</label><br>
                    <div class="form-check col-md-3">
                        <input type="number" name="n" value="1" min="1" max="{{ max_interval_quantity_dict | get_item:number_title}}" class="form-control" required id="{{ number_title }}_n">
                    </div>
                    <div class="form-check col-md-6">
                        <button id="{{ number_title }}_interval_determine" type="button" class="btn btn-primary" onclick="set_interval('{{ number_title }}')">{% trans '確定' %}</button>
                    </div>
                </div>
                <br>
                <label id="{{ number_title }}_interval_text" style="display:none">{% trans '間隔區間(每個區間皆包含最小值不包含最大值)：' %}</label><br>
                <div id="{{ number_title }}_interval" class="form-row justify-content-center">
                </div>
            {% endif %}
        {% endfor %}
    </form>
</div>

<script>
    function click_number_checkbox(number_title, box_name) {
        var checkbox_discrete = document.getElementById
                (number_title+'_is_discrete');
        var checkbox_continuous = document.getElementById
                (number_title+'_is_continuous');
                
        $('#'+number_title+'_interval_text').hide();
        $('#'+number_title+'_interval').hide();
        
        if (box_name == 'discrete'){
            checkbox_continuous.disabled = !checkbox_continuous.disabled
        } else if (box_name == 'continuous') {
            checkbox_discrete.disabled = !checkbox_discrete.disabled
        } else {
            console.log("box_name exception:" + box_name)
        }
    }
    
    function get_check_result(number_title) {
        var checkbox_discrete = document.getElementById
                (number_title+'_is_discrete');
        var checkbox_continuous = document.getElementById
                (number_title+'_is_continuous');
        if (checkbox_discrete.checked) {
            return 'discrete'
        } else if (checkbox_continuous.checked) {
            return 'continuous'
        } else {
            return null
        }
    }
    
    {% if advanced_settings %}
        function set_interval(number_title) {
            var checked_result = get_check_result(number_title);
            
            if(!checked_result) {
                alert("{% trans '尚未選擇數值類型' %}");
                return
            }
            
            $('#'+number_title+'_interval_text').show();
            $('#'+number_title+'_interval').show();
            var interval_quantity = parseInt($('#'+number_title+'_n').val());
            var interval_area = $('#'+number_title+'_interval');
            var base = {{ min_value_dict | safe }};
            var bias = {{ max_interval_quantity_dict | safe }};
            
            base = base[number_title]
            if (checked_result == 'discrete') {
                bias = Math.ceil(bias[number_title]/interval_quantity);
            } else if (checked_result == 'continuous') {
                bias = bias[number_title]/interval_quantity;
            } else {
                alert("{% trans 'checked_result錯誤呼叫：' %}"+checked_result);
                return;
            }
            
            var i;
            var temp;
            interval_area.html("");
            for (i=0; i<interval_quantity+1; i++) {
                temp = '<input type="number" value="'+(base+(bias*i))+'" class="col-md-2" required id="'+number_title+'_interval_'+i+'">'
                if (i!=interval_quantity) {
                    temp = temp + '--';
                }
                if ((i+1)%5==0)  {
                    temp = temp + '<br>';
                }
                interval_area.html(interval_area.html()+temp);
            }
            for (i=0; i<interval_quantity+1; i++) {
                var interval_temp = document.
                    getElementById(number_title+'_interval_'+i);
                interval_temp.addEventListener('change', interval_check.bind(this, interval_temp, number_title, i, interval_quantity+1), false);
            }
        }
        
        function interval_check(interval_temp, number_title, i, interval_quantity) {
            var value = interval_temp.value;
            var previous_value;
            var next_value;
            if (i == 0) {
                var min_value = {{ min_value_dict | safe }};
                min_value = min_value[number_title];
                next_value = $('#'+number_title+'_interval_'+(i+1)).val();
                if (next_value > min_value) {
                    next_value = min_value;
                }
            } else if (i == interval_quantity-1) {
                var max_value = {{ max_value_dict | safe }};
                max_value = max_value[number_title];
                previous_value = $('#'+number_title+'_interval_'+(i-1)).val();
                if (previous_value < max_value) {
                    previous_value = max_value;
                }
            } else {
                next_value = $('#'+number_title+'_interval_'+(i+1)).val();
                previous_value = $('#'+number_title+'_interval_'+(i-1)).val();
            }
            
            if (next_value && value > next_value) {
                interval_temp.value = next_value;
                alert("{% trans '已達最大值' %}")
            }
            if (previous_value && value < previous_value) {
                interval_temp.value = previous_value;
                alert("{% trans '已達最小值' %}")
            }
        }
    {% endif %}
</script>