{% extends "general/parallel_template.html" %}
{% load i18n %}
{% block title %}parameter custom{% endblock title %}

{% block hint %}
    <cell cell_title="{% trans '說明' %}">
        <p>{% trans '1：請確認左邊的參數設定，進行下一步的調整' %}</p>
        <p>{% trans '2：請確認右邊的檔案預覽，是否為您想要去識別化的檔案' %}</p>
        <p>{% trans '3：將滑鼠懸停於選項之上可看到選項說明' %}</p>
        <p>{% trans '4：設定完成後，將頁面滾動至最下方，並按下繼續執行' %}</p>
    </cell>
{% endblock hint %}

{% block left_container %}
    <div class="form-group col-md-6">
        <cell cell_title="{% trans '參數設定' %}">
            {% if custom_mode == 'DPView' %}
                {% include 'DPView/DPView_number_preprocessing.html' %}
            {% elif custom_mode == 'json_parser' %}
                {% include 'json_parser/json_title.html' %}
                {% if advanced_settings %}
                    {% include 'general/number_preprocessing.html' %}
                {% endif %}
            {% else %}
                <h2>{% trans 'custom_mode錯誤，{{custom_mode}}不符合預期，請通知開發人員' %}</h2>
            {% endif %}
        </cell>
    </div>
{% endblock left_container %}

{% block right_container %}
    <div id="preview_file" class="form-group col-md-6">
        {% trans '檔案預覽' as preview_file %}
        {% include 'general/display_file.html' with title=preview_file display_url=upload_display_url id="preview" %}
    </div>
    {% if custom_mode == 'json_parser' %}
        {% include 'json_parser/json_pair.html' %}
    {% endif %}
    {% if advanced_settings %}
        {% include 'general/advanced_number_preprocessing.html' %}
    {% endif %}
{% endblock right_container %}

{% block button %}
    <cell cell_title="{% trans '操作列表' %}">
        <div class="form-group col-md-3" style="padding:0px;padding-left:15px;padding-right:15px;">
            <button id="execute" type="button" class="btn btn-primary" style="width:100%">{% trans '繼續執行' %}</button>
        </div>
        {% if not advanced_settings %}
            <div class="form-group col-md-3" style="padding:0px;padding-left:15px;padding-right:15px;">
                <button onclick="location.href='{{ advanced_settings_url }}'" type="button" class="btn btn-primary" style="width:100%">{% trans '進階設定' %}</button>
            </div>
        {% else %}
            <div class="form-group col-md-3" style="padding:0px;padding-left:15px;padding-right:15px;">
                <button onclick="location.href='{{ base_settings_url }}'" type="button" class="btn btn-primary" style="width:100%">{% trans '基礎設定' %}</button>
            </div>
        {% endif %}
        <div class="form-group col-md-3" style="padding:0px;padding-left:15px;padding-right:15px;">
            <button onclick="location.href='{{ previous_page_url }}'" type="button" class="btn btn-primary" style="width:100%">{% trans '重新選擇檔案' %}</button>
        </div>
        <div class="form-group col-md-3" style="padding:0px;padding-left:15px;padding-right:15px;">
            <button onclick="location.href='{% url 'home' %}'" type="button" class="btn btn-primary" style="width:100%">{% trans '返回主選單' %}</button>
        </div>
    </cell>    
{% endblock button %}

{% block script %}
    <script>
        page.title = "{% trans '參數設定' %}";
        sidebar_highlight('{{ caller }}');
    </script> 
    
    <script>
        function initize() {
            document.getElementById('preview_file').style.display = 'none';    
            {% if custom_mode == 'json_parser' %}
                var string_element_dict = {{ string_element_dict|safe }};
                for (var column_title in string_element_dict) {
                    var table = document.getElementById(column_title+'_table');
                    document.getElementById(column_title+'_container').style.display = 'none';
                }
            {% endif %}
            {% if advanced_settings %}
                var number_title_list = {{ number_title_list|safe }};
                for (var column_title of number_title_list) {
                    var table = document.getElementById(column_title+'_table');
                    document.getElementById(column_title+'_container').style.display = 'none';
                }
            {% endif %}
        }
    
        function relationship_set(column_title) {
            relationship = get_select_result(column_title);
            introduction = document.getElementById(column_title+'_introduction');
            {% if custom_mode == 'json_parser' %}
                removeRed(document.getElementById(column_title+'_title').classList)
                initize();
                if (relationship == 'custom') {
                    document.getElementById(column_title+'_container').style.display = 'block';
                    introduction.textContent = "{% trans '資料關係可藉由自行輸入或下拉式選單填入' %}";
                    json_pair_enabled(column_title);
                    return;
                } else if (relationship == 'address') {
                    document.getElementById('preview_file').style.display = 'block'; 
                    json_pair_disabled(column_title);
                    return;
                } else if (relationship == 'unrelated') {
                    document.getElementById('preview_file').style.display = 'block';
                    json_pair_disabled(column_title);
                    return;
                } else {
                    document.getElementById('preview_file').style.display = 'block';
                }
            {% endif %}
            
            {% if advanced_settings %}
                initize();
                if (relationship == 'number') {
                    document.getElementById(column_title+'_container').style.display = 'block';
                    introduction.textContent = "{% trans '可直接輸入數字或使用按鈕調整區間' %}"
                    advanced_number_preprocessing_enabled(column_title);
                } else if (relationship == 'single') {
                    document.getElementById('preview_file').style.display = 'block';
                    advanced_number_preprocessing_disabled(column_title);
                } else if (relationship == 'category') {
                    document.getElementById('preview_file').style.display = 'block';
                    advanced_number_preprocessing_disabled(column_title);
                } else {
                    document.getElementById('preview_file').style.display = 'block';
                }
            {% endif %}
        }
        
        function get_select_result(column_title) {
            return document.getElementById(column_title+'_relationship_select_pair').value;
        }
        
        function removeRed(classList) {
            classList.remove('text-danger')
        }
        
        $(function () {
            var url = "{% url 'title_check' %}";
            var data = {
                'csv_name' : '{{ file_name }}',
            }
            $.ajax({
                url: url,
                type: 'GET',
                data: data,
                success: function (result) {
                    if (result) {
                        warning_alert(result.message);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    var jsonObj = JSON.parse(xhr.responseText);
                    danger_alert(jsonObj.message);
                }
            });
        })
    </script>
    
    {% if custom_mode == 'DPView' %}
        <script>
            $(function () {
                $('#execute').on('click', function () {
                    var number_title_list = {{ number_title_list|safe }};
                    var number_title_pair_dict = {};
                    
                    for (var number_title of number_title_list) {
                        var type = get_select_result(number_title);
                        if(!type) {
                            danger_alert(number_title+"{% trans '尚未選擇資料類型' %}");
                            return;
                        }
                        number_title_pair_dict[number_title] = type
                    }
                    
                    var url = "{% url 'create_DPView_json' %}";
                    var data = {
                        'csv_name' : '{{ file_name }}',
                        'number_title_pair_dict' : JSON.stringify(number_title_pair_dict),
                    }
                    
                    {% if advanced_settings %}
                        var interval_dict = {};
                        for (var number_title of number_title_list) {
                            var type = get_select_result(number_title);
                            
                            if (type == 'number') {
                                var i = 0;
                                interval_value_list = [];
                                
                                while (temp_interval = document.getElementsByClassName(number_title+'_interval_'+i)[0]) {
                                    interval_value_list.push(parseFloat(temp_interval.value));
                                    i++;
                                }
                                
                                if(interval_value_list.length == 0) {
                                    danger_alert(number_title+"{% trans '尚未確認間隔數量' %}");
                                    return;
                                }
                                interval_dict[number_title] = interval_value_list;
                            }
                        }
                        data['interval_dict'] = JSON.stringify(interval_dict);
                    {% endif %}
                    
                    $.ajax({
                        url: url,
                        type: 'GET',
                        data: data,
                        success: function () {
                            window.location = '{{ execute_url }}';
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            var jsonObj = JSON.parse(xhr.responseText);
                            danger_alert(jsonObj.message);
                        }
                    });
                })
            })
        </script>
    {% elif custom_mode == 'json_parser' %}
        <script>
            $(function () {
                $('#execute').on('click', function () {
                    var string_element_dict = {{ string_element_dict|safe }};
                    var lose_required = false;
                    
                    var structure_mode = {};
                    for (var column_title in string_element_dict) {
                        var relationship = get_select_result(column_title);
                        
                        if(!relationship) {
                            danger_alert(column_title+"{% trans '尚未選擇欄位處理方式' %}");
                            return;
                        }
                        
                        if (relationship == 'address') {
                            structure_mode[column_title] = 'tw_address';
                        } else {
                            structure_mode[column_title] = relationship;
                        }
                    }
                    
                    var structure_dict = {};
                    for (var column_title in string_element_dict) {
                        var datalist_title = document.
                            getElementById(column_title+'_title');
                        var table = document.getElementById(column_title+'_table');
                        var string_pair = {};
                        for (var count = 0; count<table.tBodies[0].rows.length; count++) {
                            var element = document.
                                getElementById(column_title+'_element_'+count);
                            var pair_to_element = document.
                                getElementById(column_title+'_pair_label_'+count);
                                
                            if (!element.value && element.required) {
                                lose_required = true;
                                datalist_title.classList.add('text-danger');
                                break;
                            }
                            if (!pair_to_element.value && pair_to_element.required) {
                                lose_required = true;
                                datalist_title.classList.add('text-danger');
                                break;
                            }
                            string_pair[element.value] = pair_to_element.value;
                        }
                        structure_dict[column_title] = string_pair;
                    }
                    
                    if (lose_required) {
                        danger_alert("{% trans '尚有對應關係還沒填寫，未填寫的欄位已由紅色標出' %}");
                    }
                    else {
                        var url = "{% url 'create_json' %}";
                        data = {
                            'csv_name' : '{{ file_name }}',
                            'structure_mode' : JSON.stringify(structure_mode),
                            'structure_dict' : JSON.stringify(structure_dict),
                        }
                        {% if advanced_settings %}
                            var number_title_list = {{ number_title_list|safe }};
                            var number_title_pair_dict = {};
                            for (var number_title of number_title_list) {
                                var type = get_select_result(number_title);
                                if(!type) {
                                    danger_alert(number_title+"{% trans '尚未選擇資料類型' %}");
                                    return;
                                }
                                number_title_pair_dict[number_title] = type
                            }
                            data['number_title_pair_dict'] = JSON.stringify(number_title_pair_dict);  
                            
                            var interval_dict = {};
                            for (var number_title of number_title_list) {
                                var type = get_select_result(number_title);
                                
                                if (type == 'number') {
                                    var i = 0;
                                    interval_value_list = [];
                                    
                                    while (temp_interval = document.getElementsByClassName(number_title+'_interval_'+i)[0]) {
                                        interval_value_list.push(parseFloat(temp_interval.value));
                                        i++;
                                    }
                                    
                                    if(interval_value_list.length == 0) {
                                        danger_alert(number_title+"{% trans '尚未確認間隔數量' %}");
                                        return;
                                    }
                                    interval_dict[number_title] = interval_value_list;
                                }
                            }
                            data['interval_dict'] = JSON.stringify(interval_dict);                            
                        {% endif %}
                        $.ajax({
                            url: url,
                            type: 'GET',
                            data: data,
                            success: function () {
                                window.location = '{{ execute_url }}';
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                var jsonObj = JSON.parse(xhr.responseText);
                                danger_alert(jsonObj.message);
                            }
                        });
                    }
                })
            })
        </script>
    {% else %}
        alert('{% blocktrans %}custom_mode 錯誤，{{ custom_mode }}不符合預期，請通知開發人員{% endblocktrans %}')
    {% endif %}
{% endblock script %}
