{% extends "general/parallel_template.html" %}
{% load i18n %}
{% block title %}parameter custom{% endblock title %}

{% block content %}
    <h2>{% trans '檔案確認' %}</h2>
    <h5 style="font-weight:bold;color:red">{% trans '說明1：請確認左邊的參數設定，是否希望做進一步的調整' %}</h5>
    <h5 style="font-weight:bold;color:red">{% trans '說明2：請確認右邊的檔案預覽，是否為您想要去識別化的檔案' %}</h5>
    <h5 style="font-weight:bold;color:red">{% trans '說明3：設定完成後，將頁面滾動至最下方，並按下繼續執行' %}</h5>
    <p>
        Description : 
    </p>
{% endblock content %}

{% block left_container %}
    <div class="form-group col-md-8">
        {% if custom_mode == 'DPSyn' %}
            {% include 'DPSyn/DPSyn_number_preprocessing.html' %}
        {% elif custom_mode == 'json_parser' %}
            {% include 'json_parser/json_parser.html' %}
            {% if advanced_settings %}
                {% include 'general/number_preprocessing.html' %}
            {% endif %}
        {% else %}
            <h2>{% trans 'custom_mode錯誤，{{custom_mode}}不符合預期，請通知開發人員' %}</h2>
        {% endif %}
    </div>
{% endblock left_container %}

{% block right_container %}
    <div class="form-group col-md-4">
        {% trans '檔案預覽' as preview_file %}
        {% include 'general/display_file.html' with title=preview_file method="upload" id="preview" %}
    </div>
{% endblock right_container %}

{% block button %}
    <div class="form-group col-md-2">
        <button id="execute" type="button" class="btn btn-primary" style="width:100%">{% trans '繼續執行' %}</button>
    </div>
    {% if not advanced_settings %}
        <div class="form-group col-md-2">
            <button onclick="location.href='/{{ caller }}/advanced_settings/csv_name={{file_name}}/'" type="button" class="btn btn-primary" style="width:100%">{% trans '進階設定' %}</button>
        </div>
    {% else %}
        <div class="form-group col-md-2">
            <button onclick="location.href='/{{ caller }}/custom/csv_name={{file_name}}/'" type="button" class="btn btn-primary" style="width:100%">{% trans '基礎設定' %}</button>
        </div>
    {% endif %}
    <div class="form-group col-md-2">
        <button onclick="location.href='/{{ caller }}/'" type="button" class="btn btn-primary" style="width:100%">{% trans '重新選擇檔案' %}</button>
    </div>
    <div class="form-group col-md-2">
        <button onclick="location.href='{% url 'home' %}'" type="button" class="btn btn-primary" style="width:100%">{% trans '返回主選單' %}</button>
    </div>
{% endblock button %}

{% block script %}
    <script>
        $(function () {
            var url = '/{{ caller }}/title_check/';
            var data = {
                        'csv_name' : '{{ file_name }}',
                    }
            $.ajax({
                url: url,
                type: 'GET',
                data: data,
                success: function (result) {
                    if (result) {
                        alert(result.message)
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    var jsonObj = JSON.parse(xhr.responseText);
                    alert(jsonObj.message);
                }
            });
        })
    </script>
    {% if custom_mode == 'DPSyn' %}
        <script>
            $(function () {
                $('#execute').on('click', function () {
                    var path = 'upload/{{ caller }}/';
                    var number_title_list = {{ number_title_list|safe }};
                    var number_title_pair_dict = {}
                    
                    for (var number_title of number_title_list) {
                        if (document.getElementById
                            (number_title+'_is_discrete').checked) {
                            number_title_pair_dict[number_title] = 'discrete';
                        }
                        else if (document.getElementById
                            (number_title+'_is_continuous').checked) {
                            number_title_pair_dict[number_title] = 'continuous';
                        }
                        else {
                            alert(number_title+"{% trans '尚未選擇資料類型' %}")
                            return
                        }
                    }
                    var url = '/DPSyn/number_preprocessing/';
                    var data = {
                                'path' : path,
                                'csv_name' : '{{ file_name }}',
                                'number_title_pair_dict' : JSON.stringify(number_title_pair_dict),
                            }
                    {% if advanced_settings %}
                        var number_dict = {};
                        for (var number_title of number_title_list) {
                            var type = get_check_result(number_title);
                            var i = 0;
                            interval_value_list = [];
                            while (temp_interval = document.getElementById(number_title+'_interval_'+i)) {
                                interval_value_list.push(temp_interval.value);
                                i++;
                            }
                            if(interval_value_list.length == 0) {
                                alert(number_title+"{% trans '尚未確認間隔數量' %}");
                                return;
                            }
                            number_dict[number_title] = {'type':type, 'value_list':interval_value_list};
                        }
                        data['number_dict'] = JSON.stringify(number_dict);
                    {% endif %}
                    $.ajax({
                        url: url,
                        type: 'GET',
                        data: data,
                        success: function () {
                            window.location = '/{{ caller }}/Execute_Page/csv_name={{file_name}}/';
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            var jsonObj = JSON.parse(xhr.responseText);
                            alert(jsonObj.message);
                        }
                    });
                })
            })
        </script>
    {% elif custom_mode == 'json_parser' %}
        <script>
            $(function () {
                $('#execute').on('click', function () {
                    var path = 'upload/{{ caller }}/';
                    var string_element_dict = {{ string_element_dict|safe }};
                    var lose_required = false;
                    
                    var structure_mode = {};
                    for (var column_title in string_element_dict) {
                        if (document.getElementById
                            (column_title+'_is_address').checked) {
                            structure_mode[column_title] = 'tw_address';
                        }
                        else if (document.getElementById
                            (column_title+'_is_unrelated').checked) {
                            structure_mode[column_title] = 'unrelated';
                        }
                        else {
                            structure_mode[column_title] = 'custom';
                        }
                    }
                    
                    var structure_dict = {};
                    for (var column_title in string_element_dict) {
                        var table = document.getElementById(column_title+'_table');
                        var string_pair = {};
                        for (var count = 0; count<table.tBodies[0].rows.length; count++) {
                            var element = document.
                                getElementById(column_title+'_element_'+count);
                            var pair_to_element = document.
                                getElementById(column_title+'_pair_label_'+count);
                            if (!element.value && element.required) {
                                lose_required = true;
                            }
                            if (!pair_to_element.value && pair_to_element.required) {
                                lose_required = true;
                                var datalist_td = document.
                                    getElementById(column_title+'_datalist_td_'+count);
                                datalist_td.classList.add('table-danger');
                                datalist_td.addEventListener('change', removeRed.bind(this, datalist_td.classList), false)
                            }
                            string_pair[element.value] = pair_to_element.value;
                        }
                        structure_dict[column_title] = string_pair;
                    }
                    
                    if (lose_required) {
                        alert("{% trans '尚有對應關係還沒填寫' %}");
                    }
                    else {
                        var url = '/json_parser/create_json/';
                        data = {
                                    'path' : path,
                                    'csv_name' : '{{ file_name }}',
                                    'structure_mode' : JSON.stringify(structure_mode),
                                    'structure_dict' : JSON.stringify(structure_dict),
                                }
                        {% if advanced_settings %}
                            var number_title_list = {{ number_title_list|safe }};
                            var number_dict = {};
                            for (var number_title of number_title_list) {
                                var type = get_check_result(number_title);
                                var i = 0;
                                interval_value_list = []
                                while (temp_interval = document.getElementById(number_title+'_interval_'+i)) {
                                    interval_value_list.push(temp_interval.value);
                                    i++;
                                }
                                if(!type) {
                                    alert(number_title+"{% trans '尚未選擇資料類型' %}");
                                    return;
                                }
                                if(interval_value_list.length == 0) {
                                    alert(number_title+"{% trans '尚未確認間隔數量' %}");
                                    return;
                                }
                                number_dict[number_title] = {'type':type, 'value_list':interval_value_list};
                            }
                            data['number_dict'] = JSON.stringify(number_dict);
                        {% endif %}
                        $.ajax({
                            url: url,
                            type: 'GET',
                            data: data,
                            success: function () {
                                window.location = '/{{ caller }}/Execute_Page/csv_name={{ file_name }}/';
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                var jsonObj = JSON.parse(xhr.responseText);
                                alert(jsonObj.message);
                            }
                        });
                    }
                })
            })
        </script>
    {% else %}
        <h2>{% blocktrans %}custom_mode錯誤，{{ custom_mode }}不符合預期，請通知開發人員{% endblocktrans %}</h2>
    {% endif %}
{% endblock script %}