<!DOCTYPE html>
{% load i18n %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}parallel template{% endblock title %}</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    	<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
	</head>
	<body style="padding-top:50px;">
        {% include 'navbar.html' %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                {% block content %}
                    <h2>{% trans '並列式模板' %}</h2>
                    <h5 style="font-weight:bold;color:red">{% trans '說明：' %}</h5>
                {% endblock content %}
            </div>
        </div>
    	<div class="container" style="width:100%;">
            <form id="parameter_form" data-toggle="validator">
                {% csrf_token %}
                {% block up_container %}
                {% endblock up_container %}
                <div class="form-row">
                    {% block left_container %}
                        <div class="form-group col-md-6">
                        </div>
                    {% endblock left_container %}
                    {% block right_container %}
                        <div class="form-group col-md-6">
                        </div>
                    {% endblock right_container %}
                </div>
                <div class="form-row">
                    {% block button %}
                        <div class="form-group col-md-2">
                            <button id="execute" type="button" class="btn btn-primary" style="width:100%">{% trans '繼續執行' %}</button>
                        </div>
                    {% endblock button %}
                </div>
            </form>
    	</div>
        {% block script %}
            <script>
                $(function () {
                    $('#execute').on('click', function () {
                        $('#execute').attr('disabled', 'disabled');
                        $('#execute').removeAttr('disabled');
                    })
                })
            </script>
        {% endblock script %}
	</body>
</html>