{% extends "base.vue" %}
{% load i18n %}
{% block title %}update log{% endblock title %}

{% block content %}
    <cell cell_title="{% trans '最新更新 9/2 ver 1.4.3' %}">
        <h4 style="font-weight:bold;color:red">{% trans '調整項目：' %}</h5>
        <h5 style="font-weight:bold;color:red">{% trans '1. 修復非地址的欄位，在選擇欄位關係為地址後，沒有出現警告的問題' %}</h5>
        <h5 style="font-weight:bold;color:red">{% trans '2. 修復連續觸發 alert 時，淡出效果不會重置的問題' %}</h5>
    </cell>
    <cell cell_title="{9/1 ver 1.4.2">
        <h4 style="font-weight:bold;color:red">{% trans '調整項目：' %}</h5>
        <h5 style="font-weight:bold;color:red">{% trans '1. 修復 DPView 選擇進階設定後，再選擇數值型資料，會出現 URL 過長的 bug' %}</h5>
        <h5 style="font-weight:bold;color:red">{% trans '2. 修復 k_Anonymity 選擇基礎設定執行後，json 沒有生成區間的 bug' %}</h5>
    </cell>
    <cell cell_title="9/1 ver 1.4.1">
        <h4 style="font-weight:bold;color:red">{% trans '調整項目：' %}</h5>
        <h5 style="font-weight:bold;color:red">{% trans '1. 修復選擇數值型資料時，如果欄位有空值，將導致 json 生成錯誤的 bug' %}</h5>
    </cell>
    <cell cell_title="8/31 ver 1.4">
        <h4 style="font-weight:bold;color:green">{% trans '新增項目：' %}</h5>
        <h5 style="font-weight:bold;color:green">{% trans '1. 加入載入圓圈，提示檔案上傳或載入中' %}</h5>
        <h5 style="font-weight:bold;color:green">{% trans '2. 加入全填入用的下拉式選單，目前不需逐項填入' %}</h5>
        <h5 style="font-weight:bold;color:green">{% trans '3. 檔案可用性檢測加入模型目標選擇，除了原先的分類預測模型外，可多選擇回歸預測模型' %}</h5>
        <h4 style="font-weight:bold;color:red">{% trans '調整項目：' %}</h5>
        <h5 style="font-weight:bold;color:red">{% trans '1. 檔案讀取方式改為UTF-8，以接受多國語言的檔案' %}</h5>
        <h5 style="font-weight:bold;color:red">{% trans '2. 文字欄位與數字欄位判斷方式變更' %}</h5>
        <h5 style="font-weight:bold;color:red">{% trans '3. 修正切換基礎與進階選項時，自動填入功能帶有的一項錯誤' %}</h5> 
    </cell>
    <cell cell_title="8/27 ver 1.3">
        <h4 style="font-weight:bold;color:green">{% trans '新增項目：' %}</h5>
        <h5 style="font-weight:bold;color:green">{% trans '1. 切換基礎/進階設定時，不需重新設定已經設定完成的內容' %}</h5>
        <h5 style="font-weight:bold;color:green">{% trans '2. 新增進階設定操作說明提示欄' %}</h5>
        <h4 style="font-weight:bold;color:red">{% trans '調整項目：' %}</h5>
        <h5 style="font-weight:bold;color:red">{% trans '1. 字型大小統一' %}</h5>
    </cell>
    <cell cell_title="8/27 ver 1.2">
        <h4 style="font-weight:bold;color:green">{% trans '新增項目：' %}</h5>
        <h5 style="font-weight:bold;color:green">{% trans '1. 以滑鼠懸停於選項時，將出現說明提示' %}</h5>
        <h4 style="font-weight:bold;color:red">{% trans '調整項目：' %}</h5>
        <h5 style="font-weight:bold;color:red">{% trans '1. 改進 firefox 瀏覽器的使用者體驗' %}</h5>
        <h5 style="font-weight:bold;color:red">{% trans '2. 修正在進階選項的使用者自訂頁面時，側邊欄無法正常出現 highlight' %}</h5>
        <h5 style="font-weight:bold;color:red">{% trans '3. 消除Vue誤判所造成的錯誤訊息' %}</h5>
    </cell>
    <cell cell_title="8/26 ver 1.1">
        <h4 style="font-weight:bold;color:red">{% trans '調整項目：' %}</h5>
        <h5 style="font-weight:bold;color:red">{% trans '1. 移除每個頁面都會出現的百分比進度條' %}</h5>
        <h5 style="font-weight:bold;color:red">{% trans '2. 移除左方尚無功能的搜尋列' %}</h5>
        <h5 style="font-weight:bold;color:red">{% trans '3. 修正接續先前執行時，頁面將錯誤跳轉至底部的問題' %}</h5>
        <h5 style="font-weight:bold;color:red">{% trans '4. 左上角標題更改，security lab → Data Anonymization System' %}</h5>
        <h5 style="font-weight:bold;color:red">{% trans '5. 修正在更新日誌切換語言時會引發錯誤的問題' %}</h5>
    </cell>
    <cell cell_title="8/25 ver 1.0">
        <h4 style="font-weight:bold;color:red">{% trans '調整項目：' %}</h5>
        <h5 style="font-weight:bold;color:red">{% trans '1. 更改整體介面呈現' %}</h5>
    </cell>
    <cell cell_title="8/5 ver 0.3.1">
        <h4 style="font-weight:bold;color:red">{% trans '調整項目：' %}</h5>
        <h5 style="font-weight:bold;color:red">{% trans '1. 程式資源取得方式更改：CDN → 直接載入' %}</h5>
    </cell>
    <cell cell_title="8/4 ver 0.3">
        <h4 style="font-weight:bold;color:red">{% trans '調整項目：' %}</h5>
        <h5 style="font-weight:bold;color:red">{% trans '1. 字串關係配對顯示方式更改：瀑布式排列 → 折疊式排列' %}</h5>
        <h5 style="font-weight:bold;color:red">{% trans '2. 數字自訂區間顯示方式更改：瀑布式排列 → 折疊式排列' %}</h5>
        <h5 style="font-weight:bold;color:red">{% trans '3. 新增/刪除按鈕顯示方式更改：文字 → 圖片' %}</h5>
        <h5 style="font-weight:bold;color:red">{% trans '4. 字串關係配對，刪除欄位方式最佳化：只能刪除最後一列 → 可任意刪除任意列' %}</h5>
        <h5 style="font-weight:bold;color:red">{% trans '5. 數字自訂區間，設定區間方式最佳化：先輸入區間數量後產生區間 → 直接產生區間，並使用新增區間按鈕來增加區間' %}</h5>
    </cell>
    <cell cell_title="7/29 ver 0.2">
        <h4 style="font-weight:bold;color:green">{% trans '新增項目：' %}</h5>
        <h5 style="font-weight:bold;color:green">{% trans '1. 去識別化進度記錄，現在只需按下執行，就可以關閉網頁，下次進入網站時，將會引導到目前所執行的進度' %}</h5>
        <h4 style="font-weight:bold;color:red">{% trans '調整項目：' %}</h5>
        <h5 style="font-weight:bold;color:red">{% trans '1. 等候提示：文字 → 轉圈圈' %}</h5>
        <h5 style="font-weight:bold;color:red">{% trans '2. 進度條%數顯示：完成度粗分 → 細分' %}</h5>
        <h5 style="font-weight:bold;color:red">{% trans '3. 錯誤提示方式：彈出式視窗 → 置頂公告' %}</h5>
        <h5 style="font-weight:bold;color:red">{% trans '4. 執行頁面bug修復，排除特定情況下進度條倒退、執行失敗等bug' %}</h5>
    </cell>
    <cell cell_title="7/21 ver 0.1">
        <h4 style="font-weight:bold;color:green">{% trans '新增項目：' %}</h5>
        <h5 style="font-weight:bold;color:green">{% trans '1. 公佈欄' %}</h5>
        <h5 style="font-weight:bold;color:green">{% trans '2. 更新日誌' %}</h5>
        <h5 style="font-weight:bold;color:green">{% trans '3. 更改密碼功能' %}</h5>
        <h4 style="font-weight:bold;color:red">{% trans '調整項目：' %}</h5>
        <h5 style="font-weight:bold;color:red">{% trans '1. 檔案上傳限制：無上限 → 4MB' %}</h5>
        <h5 style="font-weight:bold;color:red">{% trans '2. 勾選框操作：勾選時其餘選項鎖定 → 可自由切換勾選的內容' %}</h5>
        <h5 style="font-weight:bold;color:red">{% trans '3. 字串關係配對：循環配對時，將引起程式卡死 → 檢測到循環就跳出視窗提示' %}</h5>
        <h5 style="font-weight:bold;color:red">{% trans '4. 字串關係配對：配對時最高層關係沒配對自己，引起程式錯誤 → 程式將自動配對最高層關係' %}</h5>
        <h5 style="font-weight:bold;color:red">{% trans '5. 字串關係配對：刪除自訂欄位時，如果自訂欄位沒有輸入內容則會刪除失敗 → 可在任意狀況下刪除' %}</h5>
        <h5 style="font-weight:bold;color:red">{% trans '6. 可用度檢測：選擇所用方法後就會立刻執行 → 需按下確認後才會執行' %}</h5>
    </cell>
{% endblock content %}

{% block script %}
    <script>
        page.title = "{% trans '更新日誌' %}";
    </script>
    
    <script>
        $(function () {
            sidebar_highlight('update_log');
        });
    </script>
{% endblock script %}