{% extends "general/parallel_template.html" %}
{% load i18n %}
{% block title %}utility{% endblock title %}

{% block content %}
    <h2>{% trans '可用性評估' %}</h2>
    <h5 style="font-weight:bold;color:red">{% trans '說明1：請選擇用以量測的機器學習方法，選擇後將立即開始量測' %}</h5>
    <h5 style="font-weight:bold;color:red">{% trans '說明2：將會以資料集最後一欄做為量測目標(Label)' %}</h5>
    <h5 style="font-weight:bold;color:red">{% trans '說明3：左邊為以80%原始檔案訓練，20%原始檔案驗證的準確度' %}</h5>
    <h5 style="font-weight:bold;color:red">{% trans '說明4：右邊為以80%去識別化檔案訓練，20%去識別化檔案驗證的準確度' %}</h5>
    <h5 style="font-weight:bold;color:red">{% trans '說明5：下方為以80%去識別化檔案訓練，20%原始檔案檔案驗證的準確度' %}</h5>
{% endblock content %}

{% block up_container %}
    <label for="machine_learning_select">{% trans '用以量測的機器學習：' %}</label>
    <select class="form-control" id="machine_learning_select">
        <option selected="selected"></option>
        {% for item in machine_learning_list %}
            <option value="{{ item }}">{{ item }}</option>
        {%endfor%}
    </select>
    <h2 id="loading" style="display:none">{% trans '量測中請稍後' %}</h2>
    <br>
{% endblock up_container %}
                
{% block left_container %}
    <div class="form-group col-md-6">
        <h2 id="left_accuracy">{% trans '原始檔案準確度(accuracy)：' %}</h2>
    </div>
{% endblock left_container %}

{% block right_container %}
    <div class="form-group col-md-6">
        <h2 id="right_accuracy">{% trans '去識別化檔案準確度(accuracy)：' %}</h2>
    </div>
{% endblock right_container %}

{% block bottom_container %}
    <div class="row justify-content-center">
        <h2 id="bottom_accuracy">{% trans '以去識別化訓練，檢測原始檔案準確度(accuracy)：' %}</h2>
    </div>
{% endblock bottom_container %}

{% block button %}
    <div class="form-group col-md-2">
        <button onclick="location.href='/general/Download_Output/csv_name={{file_name}}'" type="button" class="btn btn-primary" style="width:100%">{% trans '下載去識別化檔案' %}</button>
    </div>
    <div class="form-group col-md-2">
        <button onclick="location.href='{% url 'home' %}'" type="button" class="btn btn-primary" style="width:100%">{% trans '返回主選單' %}</button>
    </div>
{% endblock button %}

{% block script %}
    {% trans '已完成' as finish %}
    {% trans '原始檔案' as origin_file %}
    {% trans '去識別化檔案' as de_identification_file %}
    {% trans '可用度檢測檔案' as utility_file %}

    <script>
        finish_text = '{{ finish }}'
        unlock_count = 0
        var left_accuracy = $('#left_accuracy');
        var right_accuracy = $('#right_accuracy');
        var bottom_accuracy = $('#bottom_accuracy');
        var loading_text = $('#loading');
        var selecter = $('#machine_learning_select');
        
        function finish(text_element, finish_message) {
            finish_text = finish_message+' '+finish_text;
            text_element.text(finish_text);
        }
        function reset() {
            finish_text = '{{ finish }}';
            unlock_count = 0;
            
            left_accuracy.text("{% trans '原始檔案準確度(accuracy)：' %}")
            right_accuracy.text("{% trans '去識別化檔案準確度(accuracy)：' %}")
            bottom_accuracy.text("{% trans '以去識別化訓練，檢測原始檔案準確度(accuracy)：' %}")
        }
        function utility_check(train_file_path, test_file_path, text_element, file_kind) {
            var url = '/general/check_utility/'
            var data = {
                csv_name : '{{file_name}}',
                machine_learning_method : selecter.val(),
                train_file_path : train_file_path,
                test_file_path : test_file_path,
            };
            $.ajax({
                url: url,
                type: 'GET',
                data: data,
                success: function (result) {
                    text_element.text(text_element.text() + result.accuracy + '%')
                    finish(loading_text, file_kind)
                    unlock_count++;
                    if (unlock_count>=3) {
                        selecter.removeAttr('disabled');
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    var jsonObj = JSON.parse(xhr.responseText);
                    text_element.text(text_element.text() + jsonObj.accuracy + '%')
                    alert(file_kind+jsonObj.message);
                    unlock_count++;
                    if (unlock_count>=3) {
                        selecter.removeAttr('disabled');
                    }
                }
            });
        }
        $('#machine_learning_select').on('change', function() {
            reset();
            
            if (!selecter.val()) {
                return
            }
            
            selecter.attr('disabled', 'disabled');
            loading_text.show();
            
            utility_check('upload', 'upload', left_accuracy, '{{ origin_file }}')
            utility_check('output', 'output', right_accuracy, '{{ de_identification_file }}')
            utility_check('output', 'upload', bottom_accuracy, '{{ utility_file }}')
        });
    </script>
{% endblock script %}