<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>已上傳檔案列表</title>
		{% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
        <style type="text/css">
        #view th {
            text-align:center;
        }
        </style>
	</head>
	<body>
        {% include 'navbar.html' %}
		<div class="container">
			<h1 class="page-header">FileList_Upload:</h1>
			<form enctype="multipart/form-data">
                {% csrf_token %}
                {% if not s %}
                    <div class="form-group">
                        <h2>尚無上傳檔案</h2>
                    </div>                    
                {% endif %}
                {% for key in s %}
                    <div class="form-check">
                        <input class="form-check-input" id="radio_{{key}}" type="radio" name="File" value="{{ key }}" checked>
                        <label class="form-check-label" for="radio_{{key}}"> {{ key }} </label>
                    </div>
	    		{%endfor%}
            	<button id="preview" type="button" class="btn btn-primary">預覽</button>
            	<a href="/t_Closeness/" type="button" class="btn btn-primary">返回主頁</a>
            </form>
        </div>
    	<p>
    	<div id="preview_table" align="center" style = "height:550px; overflow:scroll; border:2px black solid; position:absolute; width:90%;  left:5%;" >
    	</div>
        
        <script>
            $(function () {
                var preview = $('#preview');
                var preview_table = $('#preview_table');
                preview.click(function () {
                    var csv_name = $('[name=File]:checked').val();
                    if (!csv_name) {
                        alert('請先選擇檔案');
                    }
                    else {
                        var url = '/t_Closeness/CSV_View_Upload/';
                        $.getJSON(url,
                            {
                                'File' : csv_name,
                            }, function (table) {
                                preview_table.html(table)
                            }
                        )
                    }
                })
            })
        </script>
	</body>
</html>
