{% extends "general/function.html" %}
{% block title %}t-Closeness{% endblock title %}
{% block output_path %}t_Closeness{% endblock output_path %}
{% block home_path %}t_Closeness{% endblock home_path %}
{% block content %}
    <h2>t-Closeness</h2>
    <h5 style="font-weight:bold;color:red">說明1：將滑鼠移至欄位上可查看欄位說明</h5>
    <h5 style="font-weight:bold;color:red">說明2：執行速度較快，但去識別化後的檔案不一定具備可用性</h5>
    <p>
        Description : 
    </p>
{% endblock content %}
{% block form %}
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="k" data-toggle="tooltip" title="去識別化後，在任意查詢條件下，至少會同時查到K筆資料">K：</label>
            <input type="text" class="form-control" id="k" placeholder="" required="required" pattern="^[0-9]+$" value="2" data-toggle="tooltip" title="去識別化後，在任意查詢條件下，至少會同時查到K筆資料">
        </div>
        <div class="form-group col-md-4">
            <label for="t" data-toggle="tooltip" title="去識別化後，K筆資料中的主要內容(最後一欄)的分布，將與整個資料集的分布相差在T以內">T：</label>
            <input type="text" class="form-control" id="t" placeholder="" value="0.01" data-toggle="tooltip" title="去識別化後，K筆資料中的主要內容(最後一欄)的分布，將與整個資料集的分布相差在T以內">
        </div>
    </div>
{% endblock form %}
{% block execute %}
    <script>
        $(function () {
            $('#execute').on('click', function () {
                reset()
                window.scrollTo(0, document.body.scrollHeight)
                var mm = window.setInterval("Check_Time()", 1000);
                $('#execute').attr('disabled', 'disabled');
                console.log("come in t_Closeness.")
                var k_value = document.getElementById("k").value;
                var t_value = document.getElementById("t").value;
                var log = "";
                var sitv = setInterval( function () {
                    var prog_url = '/t_Closeness/show_t_closeness/'
                    $.getJSON(prog_url, function (data) {
                        {#console.log("come in num_progress="+num_progress)#}
                        $('.progress-div').css('visibility', 'visible');
                        $('.progress-bar').css('width', data.num_progress + '%');
                        $('.progress-bar').text(data.num_progress + '%');
                        $('.progress-text').text( '目前進度：'+ data.log );
                        $('.progress-text').css('width', '100%');
                        $('#prog_in').width(data.num_progress + '%');
                    });
                }, 10000);
                var thisurl = '/t_Closeness/Execute_t_closeness/'
                $.getJSON(thisurl,
                    {
                        csv_name : '{{file_name}}',
                        k : k_value,
                        t : t_value,
                    }, function (num_progress) {
                    clearInterval(sitv);
                    clearInterval(mm);
                    $('.progress-bar').css('width', '100%');
                    $('.progress-bar').text('100%');
                    $('#bar').removeClass('active');
                    $('.progress-text').text('執行完成');
                    $('#execute').removeAttr('disabled');
                    alert("檔案執行完畢");
                    window.location = '/t_Closeness/finish/csv_name={{file_name}}';
                });
            })
        })
    </script>
{% endblock execute %}