{% extends "base.vue" %}
{% load i18n %}
{% block title %}signup{% endblock title %}

{% block content %}
    <cell cell_title="{% trans '系統註冊' %}">
        <form action="{% url 'signup' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                <p>
                    <p data-toggle="tooltip" title="{{ field.help_text }}">{{ field.label_tag }}</p>
                    {{ field }}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </p>
            {% endfor %}

            <div class="form-row">
                <div class="form-group col-md-2">
                    <button type="submit" class="btn btn-primary" style="width:100%">{% trans '送出' %}</button>
                </div>
                <div class="form-group col-md-2">
                    <button type="button" class="btn btn-primary" style="width:100%" onclick="location.href='{% url 'login' %}'">{% trans '回到登入' %}</button>
                </div>
            </div>
        </form>
    </cell>
{% endblock content %}

{% block script %}
    <script>
        page.title = "{% trans '歡迎使用本系統，註冊完畢後將自動導向至主頁面' %}";
    </script>
{% endblock script %}
